body {font: 1.2em "Trebuchet MS", sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #ecf0f1;
}


/* Navigation bar style */
.navbar {
    height: 8%;
    max-width: 100%;
    font: 1.2em "Trebuchet MS", sans-serif;
    border: 0;
    border-bottom: solid 2px #1e2a3a;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logo img{
    height: 1.2em;
    vertical-align: center;
}
/* the style for the first 3 links*/

.link {
    margin: 3%;
    display: flex;
    gap: 15px;
    border-radius: 8px;
}
/* style for the link buttons */

.navbar a {
    color: #1e2a3a;
    padding: 10px;
    text-decoration: none;
}
/* on hover change color of button */

.navbar a:hover {
    color: #3000a2;
}
/* active tab's button is underlined, hardcoded into the html */

.navbar a.active {
    font-weight: bold;
    text-decoration: underline solid #1e2a3a 2px;
}

.about-text {
    color: #1e2a3a;
    display: flex;
    flex-flow: column;
    justify-content: center;
}
.about-text h3 {
    margin-bottom: 0;
}

.about-text p {
    font-style: italic;
    margin: 10px;
}

.latest-posts {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 2%;
}

@media (max-width: 768px) {
    .latest-posts {
        grid-template-columns: 1fr;
    }
}

.post {
    border: 2px solid #1e2a3a;
    padding: 15px;
    border-radius: 5px;
    background-color: #8fa9c2;
    text-align: center;
    color: #1e2a3a;
    height: 400px;
    box-shadow: inset -6px -6px #8fa9c2, inset 6px 6px #8fa9c2, inset 8px 8px #1e2a3a, inset -8px -8px #1e2a3a
}

.post img {
    width: 100%;
    height: 70%;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
}

.post h3,
.post small {
    margin: 10px;
}

.post h3 {
    font-size: 1.25em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.post small {
    color: #30425a;
}

.posts-list {
    display: block;
    min-height: 100%;
    width: 20%;
    border-right: #1e2a3a solid 2px;
    overflow-y: auto;
    overflow-x: hidden;
    box-sizing: border-box;
    text-align: left;
    color: #1e2a3a;
    position: sticky;
    top: 0;
    bottom: 0;
    height: 100%;
}

@media (max-width: 768px) {
    .posts-list {
        width: 100%;
        border-bottom: #1e2a3a 2px solid;
        position: relative;
        margin-bottom: 10px;
        border-right: 0;
    }
}
.posts-list ul {
    list-style: none;
}
.posts-list ul li {
    margin-bottom: 10px;
}
.posts-list a {
    color: #1e2a3a;
}

#selected-post {
    width: 80%;
    border: 2px solid #1e2a3a;
    border-radius: 5px;
    padding: 10px;
    background-color: #8fa9c2;
    text-align: center;
    color: #1e2a3a;
    display: block;
    margin: 20px 20px 20px 10px;
    overflow-y: scroll;
    box-shadow: inset -6px -6px #8fa9c2, inset 6px 6px #8fa9c2, inset 8px 8px #1e2a3a, inset -8px -8px #1e2a3a
}
@media (max-width: 768px) {
    #selected-post {
        margin: 10px 20px 20px;
        height: auto;
        width: auto;
        overflow-y: scroll;
        overflow-x: hidden;
    }

}

#selected-post img {
    width: 70%;
    height: auto;
}

#selected-post h3 {
    font-size: 1.25em;
    white-space: nowrap;
    margin-bottom: 2px;
}

#selected-post small {
    color: #30425a;
}

#content {
    text-align: left;
    margin-left: 5px;
}

.posts-page {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    height: 100vh;
}

@media (max-width: 768px) {
    .posts-page {
        flex-direction: column;
        height: auto;
    }
}

.form {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    font-size: 0.95em;
}

.form textarea {
    resize: none;
}
.form .name {
    width: 45%;
    margin-right: auto;
    margin-left: auto;
    height: 1em;
}

.form .commentbox {
    height: 5em;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.form .submit {
    width: 10%;
    margin-left: auto;
    margin-right: auto;
}

.commentlist {
    margin-right: auto;
    margin-left: auto;
    flex: 1;
    overflow: auto;
}

.comment {
    margin: 10px auto;
    max-width: 50%;
    overflow-wrap: break-word;
    text-align: left;
    position: relative;
    border: 2px solid #1e2a3a;
    border-radius: 5px;
    padding: 10px;
    background-color: #8fa9c2;
}

.comment blockquote {
    margin-bottom: 5px;
}

.comment .author {
    text-align: left;
    margin-bottom: 5px;
    text-transform: capitalize;
}
.comment .date {
    text-align: right;
    font-size: 0.7em;
    color: #30425a;
    margin-left: 5px;
}
.comment .commentbody {
    text-align: left;
    margin-top: 0;
    font-size: 0.85em;
}

@media (max-width: 600px) {
    .form {
        width: 95%;
    }

    .form .submit {
        width: 30%; 
    }

    .comment {
        max-width: 90%;
        font-size: 0.9em;
    }

    .comment .date {
        font-size: 0.6em;
    }
}


.contact-form {
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    font-size: 0.95em;
}

.contact-form .info {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.contact-form .info .entry-box {
    display: flex;
    flex-direction: column;
}

.contact-form .info .entry-box:last-child {
    margin-right: auto;
}

.contact-form .info .entry-box:first-child {
    margin-left: auto;
}

.contact-form textarea {
    resize: none;
}

#enquiry {
    resize: vertical;
    height: 6em;
    max-height: 20em;
    width: 65%;
    margin-bottom: 20px;
}

.contact-links {
    height: 8%;
    max-width: 100%;
    border: 0;
    bottom: 0;
    border-top: solid 2px #1e2a3a;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    gap: 50px;
}
.contact-links a {
    color: #1e2a3a;
    text-decoration: none;
}

.contact-links a:first-child {
    margin-left: auto;
}
.contact-links a:last-child {
    margin-right: auto;
}

.contact-links svg {
    color: #1e2a3a;
}